.character {
  position: relative;
  background-color: #3c4e60;
  border: 1px solid #1c2e40;
  max-width: 250px;
}

.character__image {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 64px;
  padding: 10px;
  padding-top: 5px;
  display: block;
}

.character__title {
  background-color: #4c5e70;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: move;
}

.grid {
  .character__controls {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: 200ms opacity;
    width: 250px;
  }

  .character:hover .character__controls {
    opacity: 1;
    pointer-events: all;
  }
}
