.character {
  position: relative;
  background-color: #3c4e60;
  border: 1px solid rgb(28, 46, 64);
  min-width: 250px;
}

.character--creature {
  background-color: #4b3c60;
}

.character--dragging {
  opacity: 0.5;
}

.character--selected {
  background: #8e44ad;
}

.character__image-wrapper {
  display: flex;
  background-color: transparent;
  border: none;
  width: 100%;
}

.character__image {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 64px;
  padding: 10px;
  padding-top: 5px;
  display: block;
}

.character__title {
  background-color: #4c5e70;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: move;
}

.grid {
  .character {
    min-width: auto;
  }

  .character__controls {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: 200ms opacity;
    width: 250px;
  }

  .character:hover .character__controls {
    opacity: 1;
    pointer-events: all;
  }
}
