.grid {
  display: flex;
  flex-direction: column-reverse;
  max-width: 800px;
  border: var(--grid-border-width) solid #1c2e40;
  border-radius: 6px;

  --grid-cell-size: 140px;
  --grid-border-width: 8px;
}

.grid__row {
  display: flex;
  justify-content: center;
}

.grid__cell {
  color: #ddd;
  flex: 1;
  padding: 5px;
  aspect-ratio: 1;
  position: relative;
  background-color: #2c3e50;
}

.grid__cell--drag-over {
  background-color: #123 !important;
}

.grid__cell--highlight {
  background-color: #1c689b;
}

.grid__row:nth-child(odd) .grid__cell:nth-child(odd),
.grid__row:nth-child(even) .grid__cell:nth-child(even) {
  background-color: #34495e;
}

.grid__row:nth-child(odd) .grid__cell--highlight:nth-child(odd),
.grid__row:nth-child(even) .grid__cell--highlight:nth-child(even) {
  background-color: #2980b9;
}

.grid__coordinates {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
}
