.grid {
  display: flex;
  flex-direction: column-reverse;
  max-width: 800px;
  border: var(--grid-border-width) solid #bbb;

  --grid-cell-size: 120px;
  --grid-border-width: 5px;
}

.grid__row {
  display: flex;
  justify-content: center;
}

.grid__cell {
  flex: 1;
  padding: 10px;
  aspect-ratio: 1;
  position: relative;
  background-color: #ccc;
}

.grid__row:nth-child(odd) .grid__cell:nth-child(odd),
.grid__row:nth-child(even) .grid__cell:nth-child(even) {
  background-color: #ddd;
}

.grid__coordinates {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
}
