.card {
  position: relative;
  background-color: var(--leva-colors-elevation1);
  color: white;
  min-width: 300px;
}

.card__delete {
  background: none;
  border: none;

  color: #fff;

  &:hover {
    color: #f35;
  }
}
